### Escape characters

In [1]:
print('Hello\nWorld')

Hello
World

In [3]:
print('that\\')

that\

In [4]:
print('\\')

\

In [6]:
print('I am 5\'9" tall')

I am 5'9" tall

In [7]:
print(r'Hello\tworld')

Hello\tworld

In [8]:
print('hello\tworld')

hello	world

### Condictional Statement

In [9]:
# not equal:
5 !=2

True

In [10]:
#Greater than:
5>2

True

In [11]:
#Smaller Than:
2<5

True

In [12]:
#Greater than or equal to:
5>=2
5>=5

True

In [13]:
#Less than or equal to:
2<=5
2<=2

True

In [15]:
# equal to:
3==2

False

### If Statement:

In [24]:
UserInput = input('Enter 1 or 2: ')

if UserInput == '1':
    print('Hello Tafadzwa')
    print('How are you?')
elif UserInput == '2':
    print('Hello Tracy')
    print('How do you do?')
else:
    print('Did you enter a valid number?')

Enter 1 or 2:
Did you enter a valid number?

In [25]:
number = 12 if UserInput == '1' else 13

### For Loop

In [26]:
pets = ['cates','dogs','rabbits','hamsters']

for mypets in pets:
    print(mypets)

cates
dogs
rabbits
hamsters

In [28]:
for index, mypets in enumerate(pets):
    print(index, mypets)

0 cates
1 dogs
2 rabbits
3 hamsters

In [29]:
age = {'peter':5, 'John':7}
for i in age:
    print(i)

peter
John

In [30]:
for i in age:
    print('Name = %s, Age = %d' %(i,age[i]))

Name = peter, Age = 5
Name = John, Age = 7

In [31]:
message = 'Hello'
for i in message:
    print(i)

H
e
l
l
o

In [32]:
range(5)

range(0, 5)

In [33]:
range(0,5)

range(0, 5)

In [34]:
for i in range(5):
    print(i)

0
1
2
3
4

### While Loop

In [35]:
counter = 5

while counter >0:
    print("counter = ", counter)
    counter = counter - 1

counter =  5
counter =  4
counter =  3
counter =  2
counter =  1

In [36]:
j = 0
for i in range(5):
    j = j+2
    print('i = ',i, ',j = ', j)
    if j ==6:
        break

i =  0 ,j =  2
i =  1 ,j =  4
i =  2 ,j =  6

In [39]:
j = 0
for i in range(5):
    j = j+2
    print('\ni = ',i,', j = ',j)
    if j == 6:
        continue
    print('I will be skiped over if j = 6')

i =  0 , j =  2
I will be skiped over if j = 6

i =  1 , j =  4
I will be skiped over if j = 6

i =  2 , j =  6

i =  3 , j =  8
I will be skiped over if j = 6

i =  4 , j =  10
I will be skiped over if j = 6

In [40]:
try:
    answer = 12/0
except:
    print('An error occured')

An error occured

In [45]:
try:
    UserInput1 = int(input("Please enter a Number: "))
    UserInput2 = int(input("Please enter another number: "))
    answer = UserInput1/UserInput2
    print('The answer is',answer)
    myFile = open('missing.txt','r')
except ValueError:
    print('Error: You did not enter a number')
except ZeroDivisionError:
    print('Error: Cannot divide by zero')
except Exception as e:
    print('Unkown error: ', e)

Please enter a Number: 12
Please enter another number: 12
The answer is 1.0
Unkown error:  [Errno 2] No such file or directory: 'missing.txt'

1212!@1@